configuration {
	font: "Hack 14";
	terminal: "urxvt";
	cache-dir: "/home/tpalmerstudios/.cache";
	window-thumbnail: true;
	drun-use-desktop-cache: true;
	display-drun: "Apps";
	display-files: "Files";
	display-run: "Shell";
	drun-match-fields: "name,generic,exec,categories,keywords";
	show-icons: true;
	icon-theme: "Papirus";
	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	
}
filebrowser {
	directory: "/home/tpalmerstudios/";
	directories-first: true;
	sorting-method:    "name";
}
@theme "solarized"
